<h1 style="margin-bottom: 2rem;">Dashboard de Feedback</h1>

<div class="charts-container">
  <section>
    <h2 style="margin-bottom: 0.5rem;">Distribuição de eNPS</h2>
    <p style="margin-bottom: 1rem; color: #555; text-align: justify;">
      Este gráfico mostra a distribuição das notas de eNPS (Employee Net Promoter Score) dadas pelos colaboradores, que refletem o quanto recomendariam a empresa como um bom lugar para trabalhar.
    </p>
    <% if @enps_distribution.present? %>
      <div class="chart-wrapper pie">
        <canvas id="enpsChart"></canvas>
      </div>
    <% else %>
      <p>Nenhum dado disponível.</p>
    <% end %>
  </section>

  <section>
    <h2 style="margin-bottom: 0.5rem;">Distribuição da Média de Interesse no Cargo</h2>
    <p style="margin-bottom: 1rem; color: #555; text-align: justify;">
      Este gráfico apresenta quantos colaboradores atribuíram determinadas notas médias para o quanto estão interessados ou motivados com seu cargo atual.
    </p>
    <% if @average_interest_distribution.blank? %>
      <div class="chart-wrapper">
        <canvas id="averageInterestChart"></canvas>
      </div>
    <% else %>
      <p>Nenhum dado disponível.</p>
    <% end %>
  </section>

  <section>
    <h2 style="margin-bottom: 0.5rem;">Colaboradores por Área</h2>
    <p style="margin-bottom: 1rem; color: #555; text-align: justify;">
      Este gráfico exibe a quantidade de colaboradores em cada área organizacional da empresa, com base na estrutura hierárquica cadastrada.
    </p>
    <% if @users_by_area.present? %>
      <div class="chart-wrapper">
        <canvas id="usersByAreaChart"></canvas>
      </div>
    <% else %>
      <p>Nenhum dado disponível.</p>
    <% end %>
  </section>
</div>

<script type="module">
  import "chart.js";

  <% if @enps_distribution.present? %>
    new Chart(
      document.getElementById('enpsChart').getContext('2d'),
      {
        type: 'pie',
        data: {
          labels: <%= raw @enps_distribution.keys.to_json %>,
          datasets: [{
            data: <%= raw @enps_distribution.values.to_json %>,
            backgroundColor: [
              '#4dc9f6',
              '#f67019',
              '#f53794',
              '#537bc4',
              '#acc236',
              '#166a8f',
              '#00a950',
              '#58595b',
              '#8549ba',
              '#e91e63',
            ],
          }]
        },
        options: {
          maintainAspectRatio: true,
          aspectRatio: 1,
          plugins: {
            datalabels: {
              formatter: (value, ctx) => {
                let sum = ctx.chart.data.datasets[0].data.reduce((a, b) => a + b, 0);
                let percentage = (value * 100 / sum).toFixed(1) + '%';
                return percentage;
              },
              color: '#000000',
              font: {
                weight: 'normal',
                size: 14,
              }
            }
          }
        },
        plugins: [ChartDataLabels]
      }
    );
  <% end %>

  <% if @average_interest_distribution.present? %>
    const ctxInterest = document.getElementById("averageInterestChart").getContext("2d");
    const labelsInterest = <%= raw @average_interest_distribution.keys.to_json %>;
    const valuesInterest = <%= raw @average_interest_distribution.values.to_json %>;
    const colorsInterest = ['#4dc9f6', '#f67019', '#f53794', '#537bc4', '#acc236'];

    const datasetsInterest = labelsInterest.map((label, index) => ({
      label: label,
      data: Array(labelsInterest.length).fill(0).map((_, i) => i === index ? valuesInterest[index] : 0),
      backgroundColor: colorsInterest[index]
    }));

    new Chart(ctxInterest, {
      type: 'bar',
      data: {
        labels: labelsInterest,
        datasets: datasetsInterest
      },
      options: {
        maintainAspectRatio: true,
        aspectRatio: 1.5,
        plugins: {
          datalabels: {
            anchor: 'end',
            align: 'top',
            color: '#000',
            font: {
              weight: 'normal',
              size: 12,
            },
            formatter: (value) => value === 0 ? '' : value
          }
        },
        scales: {
          x: {
            stacked: true,
            title: {
              display: true,
              text: 'Faixa de Nota de Interesse'
            }
          },
          y: {
            beginAtZero: true,
            title: {
              display: true,
              text: 'Quantidade de Usuários'
            }
          }
        }
      },
      plugins: [ChartDataLabels]
    });
  <% end %>

  <% if @users_by_area.present? %>
    new Chart(
      document.getElementById('usersByAreaChart').getContext('2d'),
      {
        type: 'bar',
        data: {
          labels: <%= raw @users_by_area.keys.to_json %>,
          datasets: [{
            data: <%= raw @users_by_area.values.to_json %>,
            backgroundColor: '#4dc9f6'
          }]
        },
        options: {
          maintainAspectRatio: true,
          aspectRatio: 1.5,
          plugins: {
            legend: {
              display: false
            }
          },
          scales: {
            x: {
              title: {
                display: true,
                text: 'Nome da Área'
              }
            },
            y: {
              beginAtZero: true,
              title: {
                display: true,
                text: 'Quantidade de Usuários'
              }
            }
          }
        }
      }
    );
  <% end %>
</script>
